
	<p>
		<strong><%= comment.commenter %>: &nbsp </strong>
	
		<%= comment.body %>
		
		&nbsp&nbsp
	
		<b><%= comment.created_at.strftime("%m/%d/%Y") %></b>
		
		<a data-method="get" href=<%= edit_article_comment_path(comment.article, comment) %>> <button class="btn btn-primary btn-sm">Edit</button>
		</a>


		<a data-confirm="Are you sure?" data-method="delete" href=<%= article_comment_path(comment.article, comment) %>>
   			<button class="btn btn-danger btn-sm", style:"position:fixed;right:20px">Delete</button>
		</a>
		

	</p>