
<%= form_for @article do |f| %>
	
  <% if @article.errors.any? %>
	<div class="alert alert-danger" role="alert">
		<!--<h4>
			<%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:
		</h4> -->
		<ul>
			<% @article.errors.full_messages.each do |msg| %>
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  				<span class="sr-only">Error:</span>
  				<%= msg %>
  				<br>
			<% end %>
		</ul>
	</div>
  <% end %>

  <% if @article.errors[:title].count > 0 %>
	<div class="form-group has-error">
		<p>
		
			<%= f.label :title, class: "control-label", for: "inputError1" %><br>
			<%= f.text_field :title, class: "form-control", placeholder: "No Empty title allowed", style: 'width:60%;', for: "inputError1"  %>
		</p>
	</div>
  <% else %>
	<div class="form-group has-success">
		<p>
		
			<%= f.label :title, class: "control-label", for: "inputSuccess1" %><br>
			<%= f.text_field :title, class: "form-control", placeholder: "No Empty title allowed", style: 'width:60%;', for: "inputSuccess1"  %>
		</p>
	</div>
  <% end %>

	<% if @article.errors[:text].count > 0 %>
		<div class="form-group has-error">
		<p>
			<%= f.label :text, class: "control-label", for: "inputError1" %><br>
			<%= f.text_area :text, class: "form-control", style: 'width:60%;height:400px;', for: "inputError1" %>
		</p>
		</div>
	<% else %>
		<div class="form-group has-success">
		<p>
			<%= f.label :text, class: "control-label", for: "inputSuccess1" %><br>
			<%= f.text_area :text, class: "form-control", style: 'width:60%;height:400px;', for: "inputSuccess1" %>
		</p>
		</div>
	<% end %>

	<p>
		<%= f.submit %>
	</p>

<% end %>

<%= link_to 'Back', articles_path %>