<p><h3><strong>Title: </strong> <%=@article.title%></h3></p>
<p><h4><%=@article.text%></h4></p>




<br>

<h3>Comments <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> </h3>

<%= render @article.comments %>

<br>

<h3>Add a comment: </h3>
<% @comment = Comment.new %>
<%= render 'comments/form' %>


<div class="alert alert-success" role="alert">Successfully saved/updated article</div>

<%= link_to 'Back', user_articles_path(@user) %> | <%= link_to 'New Article', new_user_article_path(@user) %> | <%= link_to 'Edit', edit_article_path %>



 <script>
	$('div.alert').fadeOut(5000)
</script> 