<h1>
	Welcome, <strong><%= @user.name %></strong>!


</h1>

<h2>
	Go ahead and write up your diary! 
	<a href=<%=user_articles_path(@user) %>
		<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
	</a>
</h2>



<%= render 'follow_form' if signed_in? %>

<strong>Diary Pages:</strong> <%= @user.articles.count %>
<%= render 'shared/stats' %>